<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!-- Windowsアカウントの認証になっています。SQLServer認証にする場合は「Integrated Security」を削除し、「ID」、「Password」を追加してください -->
		<add name="Wakabadai"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=localhost;Database=wakabadai;Integrated Security=true;"/>
	</connectionStrings>
	<appSettings>
		<!-- 出力先フォルダを指定できます。初期値は実行ディレクトリです（bin/debug or release/～） -->
		<add key="FolderPath" value=""/>
	</appSettings>
</configuration>